*{
	background-color: #2c3e50;

}
#title {
	font-size: 5em;
	font-family: 'gobold';
	text-align: center;
	margin-top: 15%;
	color: #ecf0f1;
}
.times {
	font-size: 3em;
	font-family: Helvetica;
	width: 100%;
	text-align: center;

}
#holder {
	margin: auto;
    width: 50%;
    padding: 0px;
    text-align: center;
    color: #bdc3c7;
}
@font-face {
    font-family: 'gobold';
    src: url(/G.tff);
}
